body {
  background-color: #312e2b;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
}

#app {
  width: 100%;
}

.white-text {
  color: white;
}

.content {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
}

.content .content-left {
  width: 50%;
}

.content .content-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .content-right .content-right--main {
  width: 50%;
}

.text-align-center {
  text-align: center;
}

#myBoard {
  margin-left: 48px;
  max-width: 100%;
  height: auto;
  /* overflow: scroll; */
}

.highlight-white {
  box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black {
  box-shadow: inset 0 0 3px 3px blue;
}

.highlight-hint {
  box-shadow: inset 0 0 3px 3px red;
}

.no-underline {
  text-decoration: none;
}

.no-outline:focus {
  outline: none;
  box-shadow: none;
}

.btn-header {
  font-size: 20px;
  font-weight: bold;
}

.card-header {
  padding: 0;
}

.card-header > h2 > button {
  width: 100%;
  height: 100%;
}
